<mat-form-field>
    <mat-label>Select question type</mat-label>
    <mat-select [(value)]="questionType">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="questionType">
    <ejs-richtexteditor></ejs-richtexteditor>
  </div>
  <div *ngIf="questionType === 'option1'">
      Div content 1
  </div>
  <div *ngIf="questionType === 'option2'">
    Div content 2
</div>
<div *ngIf="questionType === 'option3'">
    Div content 3
</div>