<div id="mySidenav" class="sidenav">
    <div class="toogleChoose">
        <span class="alLeft">Yes or no.</span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no">NO</span>
        </label>
    </div>
    <div class="toogleChoose">
        <span class="alLeft">Yes or no.</span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no">NO</span>
        </label>
    </div>
    <div class="toogleChoose">
        <span class="alLeft">Yes or no.</span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no">NO</span>
        </label>
    </div>
    <div class="toogleChoose">
        <span class="alLeft">Yes or no.</span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no">NO</span>
        </label>
    </div>
    <div class="toogleChoose">
        <span class="alLeft">Yes or no.</span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no">NO</span>
        </label>
    </div>
</div>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="checkNav">&#9776; Left menu</span>
    <div class="container">
        <div class="row">

            <div class="combobox">
                <header>
                    <input type="text" placeholder="Select One" />
                    <button><i class="fa fa-navicon"></i></button>
                </header>
                <ul>
                    <li data-value="Likes"><i class="fa fa-thumbs-up"></i>Likes</li>
                    <li data-value="Preferences"><i class="fa fa-gear"></i>Preferences</li>
                    <li data-value="Messages"><i class="fa fa-comment"></i>Messages</li>
                </ul>
            </div>
        </div> <!-- End Row -->
    </div>
</div>

<script>
    function checkNav() {
        var widthMenu = document.getElementById("mySidenav").style.width;
        if (!widthMenu || widthMenu === "0px") {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        } else {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    }
</script>