<p>user-editor works!</p>


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Using Ckeditor in Angular</h5>
<!--                <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
                <form (ngSubmit)="onSubmit()">
                    <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en"
                        [fullPage]="true"></ck-editor>
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
-->
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Display value</h5>
                <div [innerHTML]="editorValue"></div>
            </div>
        </div>
    </div>
</div>
