<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Welcome to WhoAmI website!</h1>
          <!--<a href="#download" class="btn btn-outline btn-xl js-scroll-trigger"> for Free!</a>-->
          <button class="btn btn-success" (click)="toSearchPage()" > Start Now </button>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <img src="../../assets/img/demo-screen-1.jpg" class="half-size" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>